* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 15px;
  }
  html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  body {
    margin: 0px;
    padding: 0px;
  }
  .layar-dalam {
    width: 1000px;
    margin: auto;
  }
  .layar-penuh {
    width: 100%;
    background-color: #5e3002;

  }
  nav {
    z-index: 100;
    color: #fff;
    text-align: center;
    position: fixed;
    border-bottom: 1px solid #b1b1b1;
    line-height: 60px;
    width: 100%;
    /* transition: background-color 0.5s ease; */
  }
  nav.putih {
    background-color: #fff;
  }
  nav .logo {
    float: left;
    position: relative;
    line-height: 55px;
    text-align: center;
  }
  nav .logo img {
    vertical-align: middle;
    width: 120px;
  }
  
  nav .menu {
    float: right;
    height: 60px;
    max-width: 600px;
  }
  
  nav .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav .menu ul li {
    list-style-type: none;
    float: left;
    line-height: 60px;
  }
  
  nav ul li a {
    color: #fff;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* pengaturan header */
  header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
    background: url(asset/12.jpg)
    

  }
  header video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
  }
  header .intro {
    z-index: 100;
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
  }
  header .intro h3 {
    font-size: 50px;
    margin: 0;
    padding: 0;
  }
  .tombol {
    background-color: #c8b26b;
    height: 40px;
    line-height: 42px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px 0px 20px;
    font-size: 15px;
    border-radius: 4px;
  }
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 50%;
    z-index: -1;
  }
  .asik {
    width: 200px;
    height: 165px;
  }
  .tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }
  .tombol-menu .garis {
    height: 3px;
    background-color: #fff;
  }
  section {
    padding: 50px 0px 50px 0px;
    background-color: #f5f6f6;
  }
  section h3 {
    font-size: 30px;
  }
  section h3::after {
    content: "";
    border-bottom: 5px solid #c8ae6b;
    width: 52px;
    display: block;
    margin: 20px auto;
  }
  #aboutus,
  #team,
  #blog {
    text-align: center;
  }
  section p.ringkasan {
    font-style: italic;
    font-size: 18px;
    color: #ababab;
  }
  section .konten-isi p {
    font-style: normal;
  }
  nav.putih {
    background-color: #fff;
  }
  nav.putih .tombol-menu .garis {
    background-color: #333;
  }
  nav.putih ul li a {
    color: #333;
  }
  nav .logo img.hitam {
    display: none;
  }
  section.abuabu {
    background-color: #f5f6f6;
  }

  section.bawah {
    background-color: #ffffff;
  }

  .support,
  .tim,
  .blog {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .support h6,
  .tim h6 {
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    font-size: 18px;
    font-weight: bold;
  }
  .support img {
    width: 50px;
  }
  .support div,
  .tim div {
    text-align: center;
    width: 26%;
  }
  section#gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
  }
  section#gallery div {
    padding: 10px;
  }
  section#gallery div img {
    height: 100px;
    border-radius: 5px;
  }
  section#gallery div img:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
  }
  section.quote {
    background: url("asset/cakecon.jpg") no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-style: italic;
    padding: 100px;
    height: 300px;

  }
  section.quote .layar-dalam p {
    display: inline;
    background: url("asset/quote-icon.png") no-repeat;
    padding: 60px;
   
  }



  .tim img {
    width: 100%;
    box-shadow: 0px -10px 30px #ccc;
    border-radius: 5px;
  }
  .blog .area {
    width: 47%;
    box-shadow: 0px -10px 30px #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .blog div.area div {
    width: 50%;
  }
  .blog .area .gambar {
    border-radius: 5px 0px 0px 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
  }
  .blog .area .text article {
    padding: 40px;
  }
  .blog .area .text article h4 {
    margin: 0px;
  }
  .blog .area .text article a {
    color: #333;
    text-decoration: none;
    transition: color 0.5s ease;
  }
  .blog .area .text article a:hover {
    color: #ccc;
  }
  footer {
    padding: 50px 0px 50px 0px;
    background-color: #5e3002;
    color: #fff;
  }
  footer .layar-dalam {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer .layar-dalam div {
    width: 20%;
  }
  footer .layar-dalam h5 {
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
  }
  footer .layar-dalam .copyright {
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #666;
    text-align: center;
  }
  @media screen and (max-width: 991.98px) {
    .layar-dalam {
      width: 90%;
    }
    nav .menu ul {
      display: none;
      margin-top: 60px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    nav .menu ul li {
      width: 100%;
      border-bottom: 1px solid #ccc;
      background-color: #fff;
      line-height: 40px;
    }
    nav .menu ul li a {
      color: #333;
    }
    .tombol-menu {
      display: flex;
    }
    .blog .area {
      display: block;
    }
    .blog div.area div {
      width: 100%;
    }
    .blog .area .gambar {
      border-radius: 5px 5px 0px 0px;
      height: 200px;
    }
    .support {
      display: block;
    }
    .support div {
      width: 100%;
      padding-bottom: 30px;
    }



    /* CONTACT----------------- */
    .contact .info-container {
      background-color: var(--color-primary);
      height: 100%;
      padding: 20px;
      border-radius: 10px 0 0 10px;
      box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
    }
    
    .contact .info-item {
      width: 100%;
      background-color: #925f00;
      margin-bottom: 20px;
      padding: 20px;
      border-radius: 10px;
      color: #fff;
    }
    
    .contact .info-item:last-child {
      margin-bottom: 0;
    }
    
    .contact .info-item i {
      font-size: 20px;
      color: #fff;
      float: left;
      width: 44px;
      height: 44px;
      background-color: rgba(255, 255, 255, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
      margin-right: 15px;
    }
    
    .contact .info-item h4 {
      padding: 0;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 5px;
    }
    
    .contact .info-item p {
      padding: 0;
      margin-bottom: 0;
      font-size: 14px;
    }
    
    .contact .info-item:hover i {
      background: #fff;
      color: var(--color-primary);
    }
    
    .contact .php-email-form {
      width: 100%;
      height: 100%;
      background: #fff;
      box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
      padding: 30px;
      border-radius: 0 10px 10px 0;
    }
    
    .contact .php-email-form .form-group {
      padding-bottom: 8px;
    }
    
    .contact .php-email-form .error-message {
      display: none;
      color: #fff;
      background: #df1529;
      text-align: left;
      padding: 15px;
      font-weight: 600;
    }
    
    .contact .php-email-form .error-message br+br {
      margin-top: 25px;
    }
    
    .contact .php-email-form .sent-message {
      display: none;
      color: #fff;
      background: #059652;
      text-align: center;
      padding: 15px;
      font-weight: 600;
    }
    
    .contact .php-email-form .loading {
      display: none;
      background: #fff;
      text-align: center;
      padding: 15px;
    }
    
    .contact .php-email-form .loading:before {
      content: "";
      display: inline-block;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      margin: 0 10px -6px 0;
      border: 3px solid #059652;
      border-top-color: #fff;
      animation: animate-loading 1s linear infinite;
    }
    
    .contact .php-email-form input,
    .contact .php-email-form textarea {
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
    }
    
    .contact .php-email-form input[type=text],
    .contact .php-email-form input[type=email],
    .contact .php-email-form textarea {
      padding: 12px 15px;
    }
    
    .contact .php-email-form input[type=text]:focus,
    .contact .php-email-form input[type=email]:focus,
    .contact .php-email-form textarea:focus {
      border-color: var(--color-primary);
    }
    
    .contact .php-email-form textarea {
      padding: 10px 12px;
    }
    
    .contact .php-email-form button[type=submit] {
      background: var(--color-primary);
      border: 0;
      padding: 14px 45px;
      color: #fff;
      transition: 0.4s;
      border-radius: 50px;
    }
    
    .contact .php-email-form button[type=submit]:hover {
      background: rgba(182, 182, 182, 0.8);
    }
  }

  #form {
    width: 50%;
    margin: 20vh auto 15px auto;
    padding: 20px;
    background-color: #E48F45;
    border-radius: 7px;
    font-size: 14;
}

#form h1 {
    color: darkblue;
    text-align: center;
    font-size: 18px;
}

.btn {
    padding: 15px;
    margin-top: 10px;
    border: 5px #6B240C;
    border-radius: 5px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 95%;
    text-align: center;
    background-color: #F5CCA0;
    color: green;
    
}

.btn:hover {
    background-color: #6B240C;
}

.input-control {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.input-control input {
    border: 3px solid #6B240C;
    border-radius: 5px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 95%;
    align-self: center;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: green;
}

.input-control.error input {
    border-color: red;
}
